body {
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
}

h1 {
	font-size: 250%;
	margin: 0.4em;
}

p {
	font-size: 100%;
}

iframe {
	border: none;
}

button {
	margin: 0.5em;
	padding: 0.8em;
	background-color: #73afb0;
	font-size: 100%;
	color: #FFFFFF;
	font-weight: bold;
	border-style: none;
	transition: 0.3s;
}

button:hover {
	background-color: #638f90;
}

#backgroundChanger {
	width: 100vw; 
	height: 100vh; 
	margin: 0px;
}

.navbar {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
}

.navbar img {
	height: 50px;
	width: auto;
	float: left;
	margin-left: 20px;
}

.navbar iframe {
	margin-top: 14px; 
	width: 50px;
	float: right;
	margin-right: 20px;
}

.banner {
	max-width: 600px;
	padding: 1em;
	margin: 1em;
	background-color: rgba(3,3,3,0.5);
	border-radius: 10px;
}

.center {
	text-align: center;
}

@media screen and (min-width: 665px){

	.banner {
		position: relative;
		position: relative;
		top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -60%);
  		margin: 0px;
	}

	.navbar img {
		margin-left: 100px;
	}

	.navbar iframe {
		margin-right: 100px;
	}

	h1 {
		font-size: 400%
	}
}